.component__modal{
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    z-index:3000;
    background:$white;
    display:none;
    
    &__menu{

        position:relative;

        @media #{$small-only} {
            display:none;
        }
    }

    &__background{
    	background:$white;
    	position:fixed;
    	width:100%;
    	height:100%;
    	display:none;
    }
    &__content{
        > .row{
            position:relative;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;  
        }
    }
    &__btn--close{
        &:focus{
            outline:none;
        }
    }
}