.component__title__intro{
	
	position:relative;
	display:inline-block;
	font-size:1.7rem;
	font-family:$font-primary-bolditalic;
	padding:0 0.3rem 0 0.2rem;
	margin:0.5rem 0;
	box-sizing:border-box;
	z-index:0;
}