.component__title__simple{
	
	position:relative;
	display:inline-block;
	font-size:1.7rem;
	padding:0 0.3rem 0 0.2rem;
	margin:1rem 0;
	box-sizing:border-box;
	z-index:0;
	line-height: 2.3rem;
	background-position: 0 0;
	background: linear-gradient(to bottom, transparent 0, transparent 1.25rem, $yellow 1.25rem, $yellow 100%);
}