
[class^="lif--"], [class*=" lif--"] {
	font-family: 'icons-limprevu';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before{
		display: inline-block;
	}
}


.lif--contract:before {
    content: "\e914";
}
.lif--id-card:before {
    content: "\e915";
}
.lif--mail:before {
    content: "\e916";
}
.lif--bill:before {
    content: "\e900";
}
.lif--build:before {
    content: "\e901";
}
.lif--clock:before {
    content: "\e902";
}
.lif--comments:before {
    content: "\e903";
}
.lif--credit-card:before {
    content: "\e904";
}
.lif--cross-thin:before {
    content: "\e905";
}
.lif--dropdown:before {
    content: "\e906";
}
.lif--earth:before {
    content: "\e907";
}
.lif--exit:before {
    content: "\e908";
}
.lif--gift:before {
    content: "\e909";
}
.lif--hamburger-thin:before {
    content: "\e90a";
}
.lif--help:before {
    content: "\e90b";
}
.lif--home:before {
    content: "\e90c";
}
.lif--leaf-02:before {
    content: "\e90d";
}
.lif--like:before {
    content: "\e90e";
}
.lif--multi-device:before {
    content: "\e90f";
}
.lif--settings:before {
    content: "\e910";
}
.lif--check:before {
    content: "\31";
}
.lif--arrow-right:before {
    content: "\32";
}
.lif--double-quote:before {
    content: "\33";
}
.lif--cross:before {
    content: "\34";
}
.lif--arrow-left:before {
    content: "\35";
}
.lif--link:before {
    content: "\61";
}
.lif--file-pdf:before {
    content: "\62";
}
.lif--pen:before {
    content: "\63";
}
.lif--volume-on:before {
    content: "\64";
}
.lif--video-play:before {
    content: "\65";
}
.lif--wiki:before {
    content: "\66";
}
.lif--news:before {
    content: "\67";
}
.lif--circle:before {
    content: "\68";
}
.lif--square:before {
    content: "\69";
}
.lif--triangle:before {
    content: "\6a";
}
.lif--download:before {
    content: "\6b";
}
.lif--mobilisation:before {
    content: "\6c";
}
.lif--change:before {
    content: "\6d";
}
.lif--clock-5:before {
    content: "\6e";
}
.lif--clock-10:before {
    content: "\6f";
}
.lif--clock-15:before {
    content: "\70";
}
.lif--logo-compo:before {
    content: "\71";
}
.lif--logo-typo:before {
    content: "\72";
}
.lif--logo-icon:before {
    content: "\e913";
}
.lif--envelope:before {
    content: "\e912";
}
.lif--rss:before {
    content: "\e911";
}
.lif--twitter:before {
    content: "\73";
}
.lif--facebook:before {
    content: "\74";
}
.lif--linkedin:before {
    content: "\75";
}
.lif--users:before {
    content: "\76";
}
.lif--search:before {
    content: "\77";
}
.lif--hamburger:before {
    content: "\78";
}
.lif--hamburger-squared:before {
    content: "\79";
}
.lif--arrow-next:before {
    content: "\7b";
}
.lif--arrow-prev2:before {
    content: "\7c";
}
.lif--arrow-prev:before {
    content: "\7a";
}
.lif--shuffle:before {
    content: "\e026";
}
.lif--computer:before {
    content: "\e106";
}
.lif--account_balance:before {
    content: "\e265";
}
.lif--area-graph:before {
    content: "\e600";
}
.lif--leaf:before {
    content: "\e601";
}
.lif--sword:before {
    content: "\e602";
}

