/*********************
COLORS
*********************/

$black-color: #111;
$white-color: #fff;

$color-facebook            : rgba(59, 89, 152, 1);
$color-twitter             : rgba(0, 172, 237, 1);
$color-linkedin            : rgba(0, 119, 181, 1);
$color-rss                 : rgba(242, 101, 34, 1);

$white                     : rgba(255, 255, 255, 1);
$firefly                   : rgba(49,69,73,1.00);
$darkElectricBlue          : RGBA(81,107,121,1.00);
$towerGrey                 : RGBA(169,189,196,1.00);
$lightSkyBlue              : RGBA(132,221,255,1.00);
$oxfordBlue                : RGBA(38,50,56,1.00);
$blackPearl                : RGBA(31,42,47,1.00);
$watermelon                : RGBA(246,83,112,1.00);
$outrageousOrange          : RGBA(255,112,66,1.00);
$grandis                   : RGBA(255,203,107,1.00);
$geraldine                 : RGBA(239,118,105,1.00);

$grey                      : rgba(65, 65, 65, 1);
$greyLight                 : rgba(65, 65, 65, 0.5);
$greyLighter                 : rgba(65, 65, 65, 0.3);

