#privacyPolicyCookies{
	position:fixed;
	z-index:8888888;
	background:$black;
	color:$white;
	padding:1rem;
	text-align:center;
	width:100%;

	top:0;

	@media #{$large-up} {
		bottom:0;
		top:initial;
	}

	.privacyPolicyCookies{
		&__message{
			font-size:1rem;
			a{
				color:$white;
				text-decoration:underline;
			}
		}
		&__buttons{
			button{
				position:relative;
				
				color:$grey;
			}
		}
	}

	button, .button{
		margin: 0 0.5rem;
	}
}